# Django
DEBUG=True
SECRET_KEY=django-insecure-replace-this-development-key
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=finance_tracker
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5435

# JWT
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=7
